main {
    height: 80vh;
    margin: 20px;
}

.carrito {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background-color: #eca;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: solid 1px #000;
}

.tabla {
    text-align: center;
}

#summary {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(238, 102, 0);
    border: solid 1px #000;
    border-radius: 10px;
}